<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Market Cap</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="app">
        <div class="logo">
            <div class="container">COIN</div>
        </div>

        <div class="menu">
            <div class="container">
                <ul>
                    <li>Home</li>
                    <li>New coins</li>
                    <li>About</li>
                </ul>
            </div>
        </div>

        <div class="profile">
            <div class="container">
                <a href="#">profile</a>
            </div>
        </div>

        <div class="listing">
            <div class="container">
                <div class="titleheading">
                    <h1>Top coins by marketcap</h1>
                    <p>The global crypto market cap is&nbsp;$3.48T,&nbsp;a&nbsp;1.11%&nbsp;increase over the last day.
                        Read More</p>
                </div>
                <div class="tablecoins">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>1h %</th>
                                <th>24h %</th>
                                <th>7d %</th>
                                <th>Market Cap</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="token-name">
                                        <img src="assets/media/tokenicons/bitcoin.png" alt="Bitcoin">
                                        <div>
                                            <span>Bitcoin</span>
                                            <div class="symboltoken">BTC</div>
                                        </div>
                                    </div>
                                </td>
                                <td>$98,928.51</td>
                                <td>0.68%</td>
                                <td>5.87 %</td>
                                <td>4.58%</td>
                                <td>$1,957,101,297,152</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="token-name">
                                        <img src="assets/media/tokenicons/eth.png" alt="Ethereum">
                                        <div>
                                            <span>Ethereum</span>
                                            <div class="symboltoken">ETH</div>
                                        </div>
                                    </div>
                                </td>
                                <td>$3,884.11</td>
                                <td>0.68%</td>
                                <td>5.87 %</td>
                                <td>4.58%</td>
                                <td>$29,282,959,886</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="token-name">
                                        <img src="assets/media/tokenicons/xrp.png" alt="XRP">
                                        <div>
                                            <span>XRP</span>
                                            <div class="symboltoken">XRP</div>
                                        </div>
                                    </div>
                                </td>
                                <td>$2.44</td>
                                <td>0.68%</td>
                                <td>5.87 %</td>
                                <td>4.58%</td>
                                <td>$13,268,681,363</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="token-name">
                                        <img src="assets/media/tokenicons/Tether.png" alt="Tether">
                                        <div>
                                            <span>Tether</span>
                                            <div class="symboltoken">USDT</div>
                                        </div>
                                    </div>
                                </td>
                                <td>$0.9997</td>
                                <td>0.68%</td>
                                <td>5.87 %</td>
                                <td>4.58%</td>
                                <td>$165,046,224,671</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="token-name">
                                        <img src="assets/media/tokenicons/solana.png" alt="Solana">
                                        <div>
                                            <span>Solana</span>
                                            <div class="symboltoken">SOL</div>
                                        </div>
                                    </div>
                                </td>
                                <td>$229.10</td>
                                <td>0.68%</td>
                                <td>5.87 %</td>
                                <td>4.58%</td>
                                <td>$4,032,656,468</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="table-footer">
                    <div class="rowscounter">Showing 1 - 100 out of 10283</div>
                    <div class="pagination">loremipsum</div>
                    <div class="rowsselector">Show rows</div>
                </div>
            </div>
        </div>
        <div class="cta">
            <div class="container">
                <div class="ctamsg">
                    <h2>Stay on top of crypto. All the time, any time.</h2>
                      <p>Please keep me updated by email with the latest crypto news, research findings, reward programs,
                        event updates, coin listings and more information from CoinMarketCap.</p>
                  </div>
                  <div class="ctaimage">
                    <img src="assets/media/coins.webp" alt="Icons of top coins">
                  </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="copyright">2025</div>
            </div>
        </div>
    </div>
</body>

</html>