<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Market Cap</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="app">
        <div class="header">
            <div class="container">
                <div class="logo">COIN</div>
                <div class="menu"></div>
                <div class="profile"></div>
            </div>
        </div>
        <div class="listing">
            <div class="container">
                <div class="titleheading">
                    <H1>Top coins by marketcap</H1>
                </div>
                <div class="table-listing">
                    <table></table>
                </div>
            </div>
        </div>
        <div class="cta">
            <div class="container">
                <div class="imagecoins"></div>
                <div class="cta-title"></div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="copyright">2025</div>
            </div>
        </div>
    </div>
</body>
</html>